{% extends 'LWVToolkitBundle:Staff:staff.html.twig' %}

{% block title %}
Toolkit Edit :: {{ parent() }}
{% endblock %}

{% block h1 %}
{{ entity.name }}
{% endblock %}

{% block toolbar_options %}
    <li>
        <a class="toolbar_btn" href="{{ path('staff_toolkit_show', { 'id': entity.id }) }}" title="Back to List" >
            <span class="process-icon-back" ></span>
            <div>Back to {{ entity.name }}</div>
        </a>
        <a class="toolbar_btn" href="{{ path('staff_toolkit') }}" title="Back to List" >
            <span class="process-icon-back" ></span>
            <div>Back to List</div>
        </a>
    </li>
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="span12">
                {% form_theme edit_form 'LWVToolkitBundle:Global:fields.html.twig' %}

                {{ form_errors(edit_form) }}
                
                <form action="{{ path('staff_toolkit_update', { 'id': entity.id }) }}" class="form-horizontal" method="post" {{ form_enctype(edit_form) }}>
                    <fieldset>
                        <legend>Toolkit Details</legend>
                        {{ form_row(edit_form.name) }}
                        {{ form_row(edit_form.url) }}
                        {{ form_row(edit_form.is_active) }}
                        {{ form_row(edit_form.is_demo) }}
                        {{ form_row(edit_form.is_secure) }}
                        {{ form_row(edit_form.is_payment) }}
                        {{ form_row(edit_form.maintenance_mode) }}
                        {{ form_row(edit_form.maintenance_message) }}
                        {{ form_row(edit_form.can_edit_profile) }}
                        {{ form_row(edit_form.can_edit_password) }}
                        {{ form_row(edit_form.enable_budget) }}
                        {{ form_row(edit_form.budget_amount) }}
                        {{ form_row(edit_form.staff_operator) }}
                        {{ form_row(edit_form.company_operator) }}
                    </fieldset>
                    <fieldset>
                        <legend>Toolkit Theme</legend>
                        {{ form_row(edit_form.theme) }}
                        <p>or</p>
                        {{ form_row(edit_form.new_theme.name) }}
                        {{ form_row(edit_form.new_theme.path) }}
                    </fieldset>
                    <fieldset>
                        <div class="form-actions">
                            {{ form_rest(edit_form) }}
                            <input class="btn-primary" type="submit" value="Edit" />
                            <input class="btn-warning" type="reset" value="Reset" />
                        </div>
                    </fieldset>
                </form>
                    
                <div class="row">
                    <div class="span11">
                    <a class="btn" href="{{ path('staff_toolkit') }}">
                        Back to the list
                    </a>
                    </div>
                    <div class="span1">
                    <form action="{{ path('staff_toolkit_delete', { 'id': entity.id }) }}" method="post">
                        {{ form_widget(delete_form) }}
                        <input class="btn-danger" type="submit" value="Delete" />
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}