{% extends 'LWVToolkitBundle:Staff:staff.html.twig' %}

{% block title %}
View Toolkit :: {{ parent() }}
{% endblock %}

{% block h1 %}
{{ entity.name }}
{% endblock %}

{% block toolbar_options %}
    <li>
        <a class="toolbar_btn" href="{{ path('staff_toolkit') }}" title="Back to List" >
            <span class="process-icon-back" ></span>
            <div>Back to List</div>
        </a>
    </li>
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="span12">
            <table class="record_properties table table-bordered">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{ entity.name }}</td>
                        </tr>
                        <tr>
                            <th>Url</th>
                            <td>{{ entity.url }}</td>
                        </tr>
                        <tr>
                            <th>Is active?</th>
                            <td>{% if entity.isactive == 1 %}<i class="icon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Is demo?</th>
                            <td>{% if entity.isdemo == 1 %}<i class="icon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Is secure?</th>
                            <td>{% if entity.issecure == 1 %}<i class="icon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Is payment?</th>
                            <td>{% if entity.ispayment == 1 %}<i class="icon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Maintenance mode?</th>
                            <td>{% if entity.maintenancemode == 1 %}<i class="icon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Maintenance message</th>
                            <td>{{ entity.maintenancemessage }}</td>
                        </tr>
                        <tr>
                            <th>Can edit profile?</th>
                            <td>{% if entity.caneditprofile == 1 %}<i class="icon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Can edit password?</th>
                            <td>{% if entity.caneditpassword == 1 %}<i class="icon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Budget Enabled?</th>
                            <td>{% if entity.enablebudget == 1 %}<i class="icon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Budget amount</th>
                            <td>{{ entity.budgetamount }}</td>
                        </tr>
                        <tr>
                            <th>Created</th>
                            <td>{{ entity.createdat|date('Y-m-d H:i:s') }}</td>
                        </tr>
                        <tr>
                            <th>Updated</th>
                            <td>{{ entity.updatedat|date('Y-m-d H:i:s') }}</td>
                        </tr>
                        <tr>
                            <th>Companies</th>
                            <td>
                                <ul>
                                {% for company in entity.companies %}
                                    <li>{{ company.name }}</li>
                                {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Theme</th>
                            <td>{% if entity.theme is not null %}{{ entity.theme.name }}{% endif %}</td>
                        </tr>
                    </tbody>
                </table>
                    
                <div class="row">
                    <div class="span11">
                        <a class="btn" href="{{ path('staff_toolkit') }}">
                            Back to the list
                        </a>

                        <a class="btn" href="{{ path('staff_toolkit_edit', { 'id': entity.id }) }}">
                            Edit
                        </a>
                    </div>
                    <div class="span1">
                        <form action="{{ path('staff_toolkit_delete', { 'id': entity.id }) }}" method="post">
                            {{ form_widget(delete_form) }}
                            <input class="btn-danger" type="submit" value="Delete" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}