{% extends 'LWVToolkitBundle:Staff:staff.html.twig' %}

{% block title %}
Toolkit List :: {{ parent() }}
{% endblock %}

{% block h1 %}
Toolkit List
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="span12">
                <table class="records_list table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Url</th>
                            <th>Active?</th>
                            <th>Demo?</th>
                            <th>Secure?</th>
                            <th>Payment?</th>
                            <th>Maintenance mode?</th>
                            <th>Maintenance message</th>
                            <th>Edit profile?</th>
                            <th>Edit password?</th>
                            <th>Budget enabled?</th>
                            <th>Budget amount</th>
                            <th>Theme</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('staff_toolkit_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td>{{ entity.name }}</td>
                            <td>{{ entity.url }}</td>
                            <td>{% if entity.isactive == 1 %}<i class="icon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}</td>
                            <td>{% if entity.isdemo == 1 %}<i class="icon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}</td>
                            <td>{% if entity.issecure == 1 %}<i class="icon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}</td>
                            <td>{% if entity.ispayment == 1 %}<i class="icon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}</td>
                            <td>{% if entity.maintenancemode == 1 %}<i class="icon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}</td>
                            <td>{{ entity.maintenancemessage }}</td>
                            <td>{% if entity.caneditprofile == 1 %}<i class="icon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}</td>
                            <td>{% if entity.caneditpassword == 1 %}<i class="icon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}</td>
                            <td>{% if entity.enablebudget == 1 %}<i class="icon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}</td>
                            <td>{% if entity.enablebudget == 1 %}{{ entity.budgetamount }}{% else %}N/A{% endif %}</td>
                            <td>{{ entity.theme.name }}</td>
                            <td>
                                <a class="btn" href="{{ path('staff_toolkit_show', { 'id': entity.id }) }}">show</a>
                                <a class="btn" href="{{ path('staff_toolkit_edit', { 'id': entity.id }) }}">edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a class="btn" href="{{ path('staff_toolkit_new') }}">
                    Create a new entry
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}