{% block new_jobs %}
{% if jobs|length %}
<aside>
	<div class="span4">
		<h2>New Jobs</h2>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Customer</th>
					<th>Ref. No.</th>
					<th><abbr title="Priority">!</abbr></th>
				</tr>
			</thead>
			<tbody>
{#		<ul id="new-jobs" class="unstyled">
			{% for job in jobs %}
				<li class="{{ job.id }}">
					<a href="{# path('job', { 'reference_no' : job.reference_no }) }">
						{{ job.id }} {{ job.referenceNo }} - {{ app.user.profile.name }} - {{ job.priority.name }} - {{ job.company.name }}
					</a>
				</li>
			{% endfor %}
		</ul>
#}
		{% for job in jobs %}
			<tr class="{{ job.priority.name|lower }}">
				<td>{{ job.company.name }}</td>
				<td><a href="{# new#}">{{ job.referenceNo }}</a></td>
				<td>{{ job.priority.name }}</td>
			</tr>
		{% endfor %}

			</tbody>
		</table>
	</div>
</aside>
{% endif %}
{% endblock %}