{% extends 'LWVToolkitBundle:Staff:staff.html.twig' %}

{% block title %}
Create New Product :: {{ parent() }}
{% endblock %}

{% block h1 %}
Create New Product
{% endblock %}

{% block toolbar_options %}
    <li>
        <a class="toolbar_btn" href="{{ path('staff_product', { 'slug': slug, 'category': category }) }}" title="Back to List" >
            <span class="process-icon-back" ></span>
            <div>Back to List</div>
        </a>
    </li>
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="span12">
                {% form_theme form 'LWVToolkitBundle:Global:fields.html.twig' %}

                {{ form_errors(form) }}
                    
                <form action="{{ path('staff_product_create', { 'slug': slug, 'category': category }) }}" class="form-horizontal" method="post" {{ form_enctype(form) }} novalidate>
                    <fieldset>
                        <legend>Product Details</legend>
                        {{ form_row(form.name) }}
                        {{ form_row(form.slug) }}
                        {{ form_row(form.reference) }}
                        {{ form_row(form.description) }}
                        {{ form_row(form.is_active) }}
                        {{ form_row(form.expires) }}
                        <div class="control-group toggle-hidden">
                            {# form_row(form.active_from) #}
                            {{ form_label(form.active_from) }}
                            <div class="controls">
                                {{ form_widget(form.active_from) }}
                                {{ form_errors(form.active_from) }}
                            </div>
                        </div>
                        <div class="control-group toggle-hidden">
                            {# form_row(form.active_till) #}
                            {{ form_label(form.active_till) }}
                            <div class="controls">
                                {{ form_widget(form.active_till) }}
                                {{ form_errors(form.active_till) }}
                            </div>
                        </div>
                        {{ form_row(form.category) }}
                        <!--<div class="control-group">
                            <label class="control-label">Images</label>
                            <div class="controls">
                                <div id="uploader">
                                </div>
                            </div>
                        </div>-->
                        {{ form_row(form.tags) }}
                    </fieldset>
                    <fieldset>
                        <div class="form-actions">
                            {{ form_rest(form) }}
                            <input class="btn-primary" type="submit" value="Create" />
                            <input class="btn-warning" type="reset" value="Reset">
                        </div>
                    </fieldset>
                </form>
                <div class="row">
                    <div class="span12">
                        <a class="btn" href="{{ path('staff_product', { 'slug': slug, 'category': category }) }}">
                            Back to the list
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}