{% extends 'LWVToolkitBundle:Staff:staff.html.twig' %}

{% block title %}
View Product :: {{ parent() }}
{% endblock %}

{% block h1 %}
{{ product.name }}
{% endblock %}

{% block toolbar_options %}
    <li>
        <a class="toolbar_btn" href="{{ path('staff_product', { 'category': category }) }}" title="Back to List" >
            <span class="process-icon-back" ></span>
            <div>Back to List</div>
        </a>
    </li>
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="span12">
                <table class="record_properties table table-bordered">
                    <tbody>
                        <tr>
                            <th>ID</th>
                            <td>{{ product.id }}</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{ product.name }}</td>
                        </tr>
                        <tr>
                            <th>Slug</th>
                            <td>{{ product.slug }}</td>
                        </tr>
                        <tr>
                            <th>Reference</th>
                            <td>{{ product.reference }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ product.description }}</td>
                        </tr>
                        <tr>
                            <th>Active?</th>
                            <td>{{ product.isactive }}</td>
                        </tr>
                        <tr>
                            <th>Active from</th>
                            <td>{{ product.activefrom|date('Y-m-d H:i:s') }}</td>
                        </tr>
                        <tr>
                            <th>Active till</th>
                            <td>{{ product.activetill|date('Y-m-d H:i:s') }}</td>
                        </tr>
                        <tr>
                            <th>Category</th>
                            <td>{{ product.category.name }}</td>
                        </tr>
                        <tr>
                            <th>Created</th>
                            <td>{{ product.createdat|date('Y-m-d H:i:s') }}</td>
                        </tr>
                        <tr>
                            <th>Updated</th>
                            <td>{{ product.updatedat|date('Y-m-d H:i:s') }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="row">
                    <div class="span11">
                        <a class="btn" href="{{ path('staff_product', { 'category': category }) }}">
                            Back to the list
                        </a>
                        <a class="btn" href="{{ path('staff_product_edit', { 'id': product.id, 'category': category }) }}">
                            Edit
                        </a>
                    </div>
                    <div class="span1">
                        <form action="{{ path('staff_product_delete', { 'id': product.id, 'category': category }) }}" method="post">
                            {# form_widget(delete_form) #}
                            <input class="btn-danger" type="submit" value="Delete" />
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}