{% extends 'LWVToolkitBundle:Staff:staff.html.twig' %}

{% block title %}
Company List :: {{ parent() }}
{% endblock %}

{% block h1 %}
Company List
{% endblock %}

{% block toolbar_options %}
<li>
    <a class="toolbar_btn" href="{{ path('staff_company_new', { 'slug': slug }) }}" title="Add New" >
        <span class="process-icon-new" ></span>
        <div>Add New</div>
    </a>
</li>
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="span12">
                <table class="records_list table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Account #</th>
                            <th>Email</th>
                            <th>Website</th>
                            <th>Active?</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('staff_company_show', { 'id': entity.id, 'slug': entity.toolkit.slug }) }}">{{ entity.id }}</a></td>
                            <td>{{ entity.name }}</td>
                            <td>{{ entity.accountno }}</td>
                            <td><a href="mailto:{{ entity.email }}" title="{{ entity.email }}"><i class="icon-envelope"></i></a></td>
                            <td><a href="{{ entity.website }}" title="{{ entity.website }}"><i class="icon-home"></i></a></td>
                            <td>{% if entity.isactive == 1 %}<i class="icon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}</td>
                            <td>
                                <div class="btn-group">
                                    {% if entity.children|length > 0 %}
                                    <a class="btn btn-small" href="{{ path('staff_company', { 'parent': entity.id, 'slug': entity.toolkit.slug }) }}">Sub-companies</a>
                                    {% endif %}
                                    <a class="btn btn-small" href="{{ path('staff_company_show', { 'id': entity.id, 'slug': entity.toolkit.slug }) }}">show</a>
                                    <a class="btn btn-small" href="{{ path('staff_company_edit', { 'id': entity.id, 'slug': entity.toolkit.slug }) }}">edit</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                    
                <a class="btn" href="{{ path('staff_company_new', { 'slug': slug }) }}">
                    Create a new entry
                </a>
                    
            </div>
        </div>
    </div>
</section>
{% endblock %}