{% extends 'LWVToolkitBundle:Staff:staff.html.twig' %}

{% block title %}
Create New Company :: {{ parent() }}
{% endblock %}

{% block h1 %}
Create New Company
{% endblock %}

{% block toolbar_options %}
    <li>
        <a class="toolbar_btn" href="{{ path('staff_company') }}" title="Back to List" >
            <span class="process-icon-back" ></span>
            <div>Back to List</div>
        </a>
    </li>
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="span12">
                {% form_theme form 'LWVToolkitBundle:Global:fields.html.twig' %}

                {{ form_errors(form) }}
                    
                <form action="{{ path('staff_company_create') }}" class="form-horizontal" method="post" {{ form_enctype(form) }}>
                    {{ form_widget(form) }}
                    <fieldset>
                        <div class="form-actions">
                            {{ form_rest(form) }}
                            <input class="btn-primary" type="submit" value="Create" />
                            <input class="btn-warning" type="reset" value="Reset">
                            <a class="btn" href="{{ path('staff_company') }}">
                                Back to the list
                            </a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}