{% extends 'LWVToolkitBundle::base.html.twig' %}
{% block head_style %}
{{ parent() }}{% stylesheets
    'bundles/lwvtoolkit/Staff/css/*'
    filter="cssrewrite, ?yui_css" output='css/staff.css'
%}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
{% endstylesheets %}
{% endblock head_style %}
{% block head_meta %}
<meta name="robots" content="noindex,nofollow" />
{% endblock %}
{% block title %}LWV Admin{% endblock %}
{% block navbar %}
<header id="top-bar">
    {% block top_bar %}
    {% include 'LWVToolkitBundle:Staff\\Includes:top-bar.html.twig' %}
    {% endblock top_bar %}
</header>
<nav id="staff-sidebar">
    {% block staff_sidebar %}
    {% include 'LWVToolkitBundle:Staff\\Includes:staff-sidebar.html.twig' %}
    {% endblock staff_sidebar %}
</nav>
<section id="breadcrumb-search">
    {% block breadcrumb_search %}
    {% include 'LWVToolkitBundle:Staff\\Includes:breadcrumb-search.html.twig' %}
    {% endblock breadcrumb_search %}
    <div class="clearfix"></div>
</section>
{% endblock navbar %}
{% block page_header %}
{% if app.request.get('_route') != 'staff_home' %}
        <section id="toolbar">
            <div class="container">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="toolbarBox toolbarHead">
                            <ul class="toolbar_button">
                                {% block toolbar_options %}
                                <li>
                                    <a class="toolbar_btn" href="{# path('staff_toolkit_new') #}/help" title="Help" >
                                        <span class="process-icon-help" ></span>
                                        <div>Help</div>
                                    </a>
                                </li>
                                {% endblock %}
                            </ul>
                            <div class="pageTitle">
                                <h1>
                                    {% block h1 %}LWV Admin{% endblock %}
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% else %}

{% endif %}

{% endblock page_header %}



{% block content_row %}
        {% block content %}
        <div class="span9">Test Date</div>
        <div class="span3">
            {% block content_sidebar %}
            {{ parent() }}
            {% endblock content_sidebar %}
        </div>
        {% endblock content %}
{% endblock content_row %}

        {% block footer %}
            {% include 'LWVToolkitBundle:Staff\\Includes:footer.html.twig' %}
        {% endblock %}
        {% block foot_script %}
        {{ parent() }}
        {% javascripts
            '@LWVToolkitBundle/Resources/public/js/bootstrap-datepicker.js'
            '@LWVToolkitBundle/Resources/public/Staff/js/*'
            filter='yui_js' output='js/staff.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock foot_script %}
