{% form_theme form 'LWVToolkitBundle:User\\Form:fields.html.twig' %}

{{ form_errors(form) }}

<form action="{{ path('password_request_update') }}" class="form-horizontal" method="post" {{ form_enctype(form) }} novalidate="novalidate">
    <fieldset>
        <legend>Enter your email</legend>
        {{ form_row(form.email) }}
    </fieldset>
    <fieldset>
        <div class="form-actions">
            {{ form_rest(form) }}
            <input class="btn-primary" type="submit" value="Send" />
            <input class="btn-warning" type="reset" value="Reset">
            <a class="btn" href="{{ path('login') }}">Back to Login</a>
        </div>
    </fieldset>
</form>