{% form_theme form 'LWVToolkitBundle:User\\Form:fields.html.twig' %}

{{ form_errors(form) }}

<form action="{{ path('password_reset_update', { 'key' : key }) }}" class="form-horizontal" method="post" {{ form_enctype(form) }} novalidate>
    <fieldset>
        <legend>Change Your Password</legend>
        {{ form_row(form.password) }}
        {{ form_row(form.confirmPassword) }}
    </fieldset>
    <fieldset>
        <div class="form-actions">
            {{ form_rest(form) }}
            <input class="btn-primary" type="submit" value="Update" />
            <input class="btn-warning" type="reset" value="Reset">
        </div>
    </fieldset>
</form>