{% form_theme form 'LWVToolkitBundle:Staff\\Settings:form.html.twig' %}
<form method="post" class="lwv_config_settings_modify form-inline" {{ form_enctype(form) }}>
	{{ form_errors(form) }}
	{% for section in sections | lwv_sortSections %}
		{% if section is not empty %}
			<fieldset>
				<legend>{{ section | trans({}, 'LWVToolkitBundle') }}</legend>
		{% endif %}

		{% for setting in form.settings if setting.section.get('value') == section %}
			{{ form_row(setting.name) }}
			{{ form_row(setting.section) }}
			{{ form_row(setting.nice_name) }}
			{{ form_row(setting.description) }}
			{{ form_row(setting.value, {'label': setting.nice_name.get('value')}) }}
			<p class="help-block">{{ setting.description.get('value') }}</p>
		{% endfor %}

		{% if section is not empty %}
			</fieldset>
		{% endif %}
	{% endfor %}

	{{ form_rest(form) }}
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">{{ 'modify_settings' | trans }}</button>
		<button type="reset" class="btn">{{ 'cancel_changes' | trans }}</button>
	</div>


</form>

<div class="tabbable tabs-left">
  <ul class="nav nav-tabs span3">
   	<li class="active"><a href="#t1" data-toggle="tab">test one</a></li>
   	<li><a href="#t2" data-toggle="tab"><i class="icon-edit"></i> General Settings</a></li>
   	<li><a href="#t2" data-toggle="tab">test two</a></li>
   	<li><a href="#t2" data-toggle="tab">test two</a></li>
   	<li><a href="#t2" data-toggle="tab">test two</a></li>
   	<li><a href="#t2" data-toggle="tab">test two</a></li>
   	<li><a href="#t2" data-toggle="tab">test two</a></li>
   	<li><a href="#t2" data-toggle="tab">test two</a></li>
  </ul>
  <div class="tab-content" style="display: block; width: none;">
    <div class="tab-pane active" id="t1"> Tab one content</div>
    <div class="tab-pane" id="t2"> Tab two content</div>
  </div>
</div>