{% extends '::tk_layout.html.twig' %}

{% block title %}
    {{ parent() }} :: Stonegate
{% endblock %}

{% block mini_cart %}
    <div id="cart">
        <a href="#link-to-actual-cart">
            <span class="my-bag-image">My Cart</span>
            <span class="my-cart-items">0 item(s)</span>
            <span class="basket-value">£0.00</span>
        </a>
        <div class="cart-under"><!-- jquery pop cart will trigger on this div -->
            <a href="#go-to-cart-if-no-javascript">View Cart</a
        </div>
    </div>
{% endblock %}

{% block content %}

    {% if is_granted("IS_AUTHENTICATED_FULLY") %}

        <h1>Welcome, {{ app.user.username }} - {{ app.user.profile.pubName }} <small>{{ app.user.profile.address }}</small></h1>

        <ul>
        {% for product in products %}

            <li>
                {{ product.name }}
                {% for image in product.images %}
                    {{ image.image }}
                {% endfor %}
            </li>

        {% endfor %}
        </ul>

    {% else %}

        <h1>Please login to continue to your Toolkit</h1>

    {% endif %}

{% endblock %}