{% extends 'LWVToolkitBundle:Staff:staff.html.twig' %}

{% block title %}
Category List :: {{ parent() }}
{% endblock %}

{% block h1 %}
Category List
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="span12">
                <table class="records_list table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Slug</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('staff_product_category_show', { 'id': entity.id, 'slug': slug }) }}">{{ entity.id }}</a></td>
                            <td>{{ entity.name }}</td>
                            <td>{{ entity.slug }}</td>
                            <td>{{ entity.description }}</td>
                            <td>{{ entity.image }}</td>
                            <td>
                                <div class="btn-group">
                                    {% if entity.products|length > 0 %}
                                    <a class="btn btn-small" href="{{ path('staff_product', { 'slug': slug, 'category': entity.slug }) }}">Products</a>                                        
                                    {% endif %}
                                    {% if entity.children|length > 0 %}
                                    <a class="btn btn-small" href="{{ path('staff_product_category', { 'parent': entity.id, 'slug': entity.toolkit.slug }) }}">Sub-categories</a>
                                    {% endif %}
                                    <a class="btn btn-small" href="{{ path('staff_product_category_show', { 'id': entity.id, 'slug': slug }) }}">Show</a>
                                    <a class="btn btn-small" href="{{ path('staff_product_category_edit', { 'id': entity.id, 'slug': slug }) }}">Edit</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="btn-group">
                    <a class="btn" href="{{ path('staff_product_category_new', { 'slug': slug }) }}">
                        Add a new Category
                    </a>

                    <a class="btn" href="{{ path('staff_product_new', { 'slug': slug }) }}">
                        Add a new Product
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}