{% extends 'LWVToolkitBundle:Staff:staff.html.twig' %}

{% block title %}
Category List :: {{ parent() }}
{% endblock %}

{% block h1 %}
Category List
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="span12">
                <table class="records_list table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Slug</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th>Toolkit</th>
                            <th>Created</th>
                            <th>Updated</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('staff_product_category_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td>{{ entity.name }}</td>
                            <td>{{ entity.slug }}</td>
                            <td>{{ entity.description }}</td>
                            <td>{{ entity.image }}</td>
                            <td>{{ entity.toolkit.name }}</td>
                            <td>{% if entity.createdat %}{{ entity.createdat|date('Y-m-d H:i:s') }}{% endif%}</td>
                            <td>{% if entity.updatedat %}{{ entity.updatedat|date('Y-m-d H:i:s') }}{% endif%}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-small" href="{{ path('staff_product_category_show', { 'id': entity.id }) }}">show</a>
                                    <a class="btn btn-small" href="{{ path('staff_product_category_edit', { 'id': entity.id }) }}">edit</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a class="btn" href="{{ path('staff_product_category_new') }}">
                    Create a new entry
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}