{% extends 'LWVToolkitBundle:Staff:staff.html.twig' %}

{% block title %}
View Category :: {{ parent() }}
{% endblock %}

{% block h1 %}
{{ entity.name }}
{% endblock %}

{% block toolbar_options %}
    <li>
        <a class="toolbar_btn" href="{{ path('staff_product_category') }}" title="Back to List" >
            <span class="process-icon-back" ></span>
            <div>Back to List</div>
        </a>
    </li>
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="span12">
                <table class="record_properties table table-bordered">
                    <tbody>
                        <tr>
                            <th>ID</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{ entity.name }}</td>
                        </tr>
                        <tr>
                            <th>Slug</th>
                            <td>{{ entity.slug }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ entity.description }}</td>
                        </tr>
                        <tr>
                            <th>Image</th>
                            <td>{{ entity.image }}</td>
                        </tr>
                        <tr>
                            <th>Toolkit</th>
                            <td>{{ entity.toolkit.name }}</td>
                        </tr>
                        <tr>
                            <th>Created</th>
                            <td>{{ entity.createdat|date('Y-m-d H:i:s') }}</td>
                        </tr>
                        <tr>
                            <th>Updated</th>
                            <td>{{ entity.updatedat|date('Y-m-d H:i:s') }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="row">
                    <div class="span11">
                        <a class="btn" href="{{ path('staff_product_category') }}">
                            Back to the list
                        </a>
                        <a class="btn" href="{{ path('staff_product_category_edit', { 'id': entity.id }) }}">
                            Edit
                        </a>
                    </div>
                    <div class="span1">
                        <form action="{{ path('staff_product_category_delete', { 'id': entity.id }) }}" method="post">
                            {{ form_widget(delete_form) }}
                            <input class="btn-danger" type="submit" value="Delete" />
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}