{% block field_row %}
<div class="control-group {% if errors|length > 0 %} error {% endif %}">
    {{ form_label(form) }}
    <div class="controls">
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
</div>
{% endblock %}

{% block field_label %}
<label class="control-label">
    {{ label }}
</label>
{% endblock %}

{% block datetime_row %}
<div class="control-group {% if errors|length > 0 %} error {% endif %}">
    {{ form_label(form) }}
    <div class="controls">
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
</div>
{% endblock %}

{% block datetime_label %}
<label class="control-label">
    {{ label }}
</label>
{% endblock %}

{% block datetime_widget %}
<div {{ block('widget_container_attributes') }}>
    <div>
    {{ form_widget(form.date.day, { 'attr': { 'class': 'span1' } }) }}
    {{ form_widget(form.date.month, { 'attr': { 'class': 'span1' } }) }}
    {{ form_widget(form.date.year, { 'attr': { 'class': 'span1' } }) }}
    <span class="help-block">Date, eg 31-Dec-2012.</span>
    </div>
    <div>
    {{ form_widget(form.time.hour, { 'attr': { 'class': 'span1' } }) }}:{{ form_widget(form.time.minute, { 'attr': { 'class': 'span1' } }) }}
    <span class="help-block">Time, eg 17:35.</span>
    </div>
</div>
{% endblock %}

{% block choice_row %}
<div class="control-group {% if errors|length > 0 %} error {% endif %}">
    {{ form_label(form) }}
    <div class="controls">
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
</div>
{% endblock %}

{% block choice_label %}
<label class="control-label">
    {{ label }}
</label>
{% endblock %}

{% block choice_widget %}
{% if expanded %}
    <div {{ block('widget_container_attributes') }}>
        {% for child in form %}
        <label class="checkbox inline">
                {{ form_widget(child) }}
                {{ child.vars.label }}
        </label>
        {% endfor %}
    </div>
{% else %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}> 
        {% if empty_value is not none %} 
            <option value="">{{ empty_value|trans }}</option> 
        {% endif %} 
        {% if preferred_choices|length > 0 %} 
            {% set options = preferred_choices %} 
            {{ block('widget_choice_options') }} 
            {% if choices|length > 0 %} 
                <option disabled="disabled">{{ separator }}</option> 
            {% endif %} 
        {% endif %} 
        {% set options = choices %} 
        {{ block('widget_choice_options') }} 
    </select> 
{% endif %} 
{% endblock %}

{% block field_errors %}
{% if errors|length > 0 %}
<span class="help-inline">
    {% for error in errors %}
        {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}<br/>
    {% endfor %}
</span>
{% endif %}
{% endblock %}