<!DOCTYPE HTML>
<html lang="en-GB">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="robots" content="noindex,nofollow" />
        <title>{% block title %}LWV Toolkit{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% block styelsheets %}
            {% stylesheets
                '@LWVToolkitBundle/Resources/public/User/css/*'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>

        <div class="container">
            <div class="row background">
                <div class="span6">
                    <h1>LWV Toolkit</h1>
                    <p>Welcome to the LWV Toolkit.</p>
                    <p>Please use the login form opposite to access your account and start ordering POS today!</p>
                </div>
                <div class="span6 login-form">

                {% if toolkit.maintenancemode is defined %}
                    
                    {% if toolkit.maintenancemode == 1 %}

                        <h2>Maintenance</h2>
                        <p>{{ toolkit.maintenancemessage }}</p>

                    {% else %}

                        {% if error %}
                            <div class="alert alert-error" data-dismiss="alert">
                                <a href="#" class="close">×</a>
                                {{ error.message|trans }}
                            </div>
                        {% endif %}

                        {% include 'LWVToolkitBundle:User\\Form:login-form.html.twig' %}

                    {% endif %}
                        
                {% else %}
                        
                    {% if error %}
                        <div class="alert alert-error" data-dismiss="alert">
                            <a href="#" class="close">×</a>
                            {{ error.message|trans }}
                        </div>
                    {% endif %}
                        
                    {% include 'LWVToolkitBundle:User\\Form:login-form.html.twig' %}
                        
                {% endif %}

                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <p>Copyright &copy; 2012 LWV Printworks</p>
                    </div>
                </div>
            </div>
        </footer>
        {% block javascripts %}
            {% javascripts
                '@LWVToolkitBundle/Resources/public/User/js/jquery-1.7.1.min.js'
                '@LWVToolkitBundle/Resources/public/User/js/*'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}

            <script type="text/javascript">
            $(document).ready(function(){
                $(".alert-message").alert()
            });
            </script>

        {% endblock %}
    </body>
</html>